@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@300&family=Source+Code+Pro&display=swap');
* {
   margin: 0;
   padding: 0;
   border: none; 
}

.nav-bar {
   border-bottom: 1px solid #000000;
   text-align: right;
   height: 70px;
   line-height: 70px;
}
.menu {
   margin: 0 30px 0 0;
}

.menu a {
   text-decoration: none;
   color: aqua;
   margin: 0 10px;
   line-height: 70px;
   clear: right;
}

label {
   margin: 0 40px 0 0;
   font-size: 25px;
   line-height: 70px;
   display: none;
   width: 26px;
   float: right;
}

#toggle {
   display: none;
}





@media only screen and (max-width: 736px) {
   label {
      display: block;
      cursor: pointer;
   }

   .menu {
      text-align: center;
      width: 100%;
      display: none;
   }

   .menu a {
      display: block;
      border-bottom: 1px solid #000000;
      margin: 0;
   }

   #toggle:checked + .menu {
      display: block;
   }
}