@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@300&family=Source+Code+Pro&display=swap');
* {
   margin: 0;
   padding: 0;
   border: none; 
}

body {
   font-family: KoHo,sans-serif;
}

.nav-bar {
   text-align: right;
   height: 70px;
   line-height: 70px;
   position: fixed;
   width: 100%;
   background-color: #EDDCD2;
}
.menu {
   margin: 0 30px 0 0;
}

.menu a {
   text-decoration: none;
   color: #CB997E;
   margin: 0 10px;
   line-height: 70px;
   clear: right;
   background-color: #EDDCD2;
}

label {
   margin: 0 40px 0 0;
   font-size: 25px;
   line-height: 70px;
   display: none;
   width: 26px;
   float: right;
}

#toggle {
   display: none;
}

.hero {
   background: url(../images/shutterstock_image\ \(1\).jpg) no-repeat center center;
   width: 100%;
   height: 350px;
   overflow: hidden;
   background-size: cover;
}

.container {
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
}

.content {
   width: 100%;
   text-align: center;
   
}

.content h2 {
   letter-spacing: 2px;
   text-transform: uppercase;
   padding-top: 20px;
   clear: both;
}

.content p {
   font-family: Inter, sans-serif;
   padding: 20px 20px 20px 20px;
}

.button {
   background-color: #A5A58D;
   width: 150px;
   height: 25px;
}

.button a {
   text-decoration: none;
   color: #F0EFEB;
   font-family: KoHo, sans-serif;
}

.content button {
   float: right;
   margin-right: 20px;
}

.newsletter {
   font-family: Inter, sans-serif;
   margin: 20px 50px;
   text-align: center;
   border: 1px solid #A5A58D;
   background-color: #EDDCD2;
   padding: 20px 50px;
   width: auto;
   height: 200px;
}

.newsletter h3 {
   font-family: KoHo, sans-serif;
   padding: 20px 0 20px 0;
}

.newsletter p {
   padding-bottom: 20px;
}
/**
.button2 {
   background-color: #A5A58D;
   width: 150px;
   height: 25px;
}

.button2 a{
   text-decoration: none;
   color: #F0EFEB;
   font-family: KoHo, sans-serif;
}
**/
@media only screen and (max-width: 736px) {
   label {
      display: block;
      cursor: pointer;
   }

   .menu {
      text-align: center;
      width: 100%;
      display: none;
   }

   .menu a {
      display: block;
      margin: 0;
   }

   #toggle:checked + .menu {
      display: block;
   }
}
