@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@300&family=Source+Code+Pro&display=swap');
* {
   margin: 0;
   padding: 0;
   border: none; 
}

body {
   font-family: KoHo,sans-serif;
}

.nav-bar {
   text-align: right;
   height: 70px;
   line-height: 70px;
   position: fixed;
   width: 100%;
   background-color: #EDDCD2;
}
.menu {
   margin: 0 30px 0 0;
}

.menu a {
   text-decoration: none;
   color: #CB997E;
   margin: 0 10px;
   line-height: 70px;
   clear: right;
   background-color: #EDDCD2;
}

 .nav-bar label {
   margin: 0 40px 0 0;
   font-size: 25px;
   line-height: 70px;
   display: none;
   width: 26px;
   float: right;
}

#toggle {
   display: none;
}

@media only screen and (max-width: 736px) {
   .nav-bar label {
      display: block;
      cursor: pointer;
   }

   .menu {
      text-align: center;
      width: 100%;
      display: none;
   }

   .menu a {
      display: block;
      margin: 0;
   }

   #toggle:checked + .menu {
      display: block;
   }
}

.hero {
   background: url(../images/shutterstock_image\ \(1\).jpg) no-repeat center center;
   width: 100%;
   height: 350px;
   overflow: hidden;
   background-size: cover;
}

.flex-container {
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
}

.flex-box {
   width: 100%;
   text-align: center;
}

.flex-box h2 {
   letter-spacing: 2px;
   text-transform: uppercase;
   padding-top: 20px;
   clear: both;
}

.flex-box p {
   font-family: Inter, sans-serif;
   padding: 20px 20px 20px 20px;
}

.button {
   background-color: #A5A58D;
   width: 150px;
   height: 25px;
}

.button a {
   text-decoration: none;
   color: #F0EFEB;
   font-family: KoHo, sans-serif;
}

.content button {
   float: right;
   margin-right: 20px;
}

.flex-box-form {
   font-family: Inter, sans-serif;
   margin: 20px 50px;
   text-align: center;
   border: 1px solid #A5A58D;
   background-color: #EDDCD2;
   padding: 20px 50px;
   width: auto;
   height: 225px;
}

.flex-box-form h3 {
   font-family: KoHo, sans-serif;
   padding: 20px 0 20px 0;
}

.flex-box-form p {
   padding-bottom: 20px;
}

.flex-container2 {
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
   padding-top: 7em;
}

.flex-box h3 {
   padding-top: 15px;
}

.iframe-container {
   position: relative;
   width: 100%;
   padding-bottom: 50%;
   height: 0;
   margin-bottom: 20px;
}

.iframe-container iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.grid-container {
   display: grid;
   grid-template-rows: repeat(6, 7vw);
   grid-template-columns: repeat(12, 1fr);
   grid-gap: 10px;
   margin-top: 35px;
}

.grid-container img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   padding: 10px 20px 10px 20px;
}

.item1 {
   grid-column-start: 1;
   grid-column-end: 6;
   grid-row-start: 1;
   grid-row-end: 3;
}

.item2 {
   grid-column-start: 7;
   grid-column-end: 12;
   grid-row-start: 1;
   grid-row-end: 3;
}

.item3 {
   grid-column-start: 1;
   grid-column-end: 6;
   grid-row-start: 4;
   grid-row-end: 6;
}

.item4 {
   grid-column-start: 7;
   grid-column-end: 12;
   grid-row-start: 3;
   grid-row-end: 6;
}
@media only screen and (min-width: 1024px) {
   .item1 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
   }
   
   .item2 {
      grid-column-start: 4;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 3;
   }
   
   .item3 {
      grid-column-start: 7;
      grid-column-end: 9;
      grid-row-start: 1;
      grid-row-end: 3;
   }
   
   .item4 {
      grid-column-start: 10;
      grid-column-end: 12;
      grid-row-start: 1;
      grid-row-end: 3;
   }
}

.grid-gallery {
   display: grid;
   grid-template-rows: repeat(57, 7vw);
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 5px;
   margin-top: 35px;
}

.grid-gallery img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   padding: 5px 5px 5px 5px;
}

.grid-gallery img:nth-child(1) {
   grid-column: 1 / span 4;
   grid-row: 1 / span 7;
}

.grid-gallery img:nth-child(2) {
   grid-column: 1 / span 4;
   grid-row: 8 / span 7;
}

.grid-gallery img:nth-child(3) {
   grid-column: 1 / span 4;
   grid-row: 15 / span 7;
}

.grid-gallery img:nth-child(4) {
   grid-column: 1 / span 4;
   grid-row: 22 / span 7;
}

.grid-gallery img:nth-child(5) {
   grid-column: 1 / span 4;
   grid-row: 29 / span 7;
}

.grid-gallery img:nth-child(6) {
   grid-column: 1 / span 4;
   grid-row: 36 / span 7;
}

.grid-gallery img:nth-child(7) {
   grid-column: 1 / span 4;
   grid-row: 43 / span 7;
}

.grid-gallery img:nth-child(8) {
   grid-column: 1 / span 4;
   grid-row: 50 / span 7;
}

.grid-gallery img:nth-child(9) {
   display: none;
}

.grid-gallery img:nth-child(10) {
   display: none;
}

.grid-gallery img:nth-child(11) {
   display: none;
}

.grid-gallery img:nth-child(12) {
   display: none;
}

@media only screen and (min-width: 800px) {
   .grid-gallery {
      display: grid;
      grid-template-rows: repeat(31, 7vw);
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 5px;
      margin-top: 35px;
   }
   .grid-gallery img:nth-child(1) {
      grid-column: 1 / span 8;
      grid-row: 1 / span 5;
   }
   
   .grid-gallery img:nth-child(2) {
      grid-column: 9 / span 4;
      grid-row: 1 / span 8;
   }
   
   .grid-gallery img:nth-child(3) {
      grid-column: 1 / span 8;
      grid-row: 6 / span 5;
   }
   
   .grid-gallery img:nth-child(4) {
      grid-column: 1 / span 8;
      grid-row: 11 / span 5;
   }
   
   .grid-gallery img:nth-child(5) {
      grid-column: 1 / span 8;
      grid-row: 16 / span 5;
   }
   
   .grid-gallery img:nth-child(6) {
      grid-column: 9 / span 4;
      grid-row: 9 / span 7;
   }
   
   .grid-gallery img:nth-child(7) {
      grid-column: 1 / span 8;
      grid-row: 21 / span 5;
   }
   
   .grid-gallery img:nth-child(8) {
      grid-column: 1 / span 8;
      grid-row: 26 / span 5;
   }

   .grid-gallery img:nth-child(9) {
      grid-column: 9 / span 4;
      grid-row: 16 / span 7;
      display: grid;
   }

   .grid-gallery img:nth-child(10) {
      grid-column: 9 / span 4;
      grid-row: 23 / span 8;
      display: grid;
   }

   .grid-gallery img:nth-child(11) {
      display: none;
   }

   .grid-gallery img:nth-child(12) {
      display: none;
   }
}

@media only screen and (min-width: 1366px) {
   .grid-gallery {
      display: grid;
      grid-template-rows: repeat(22, 7vw);
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 5px;
      margin-top: 35px;
   }
   .grid-gallery img:nth-child(1) {
      grid-column: 1 / span 6;
      grid-row: 1 / span 4;
   }
   
   .grid-gallery img:nth-child(2) {
      grid-column: 1 / span 3;
      grid-row: 17 / span 6;
   }
   
   .grid-gallery img:nth-child(3) {
      grid-column: 7 / span 6;
      grid-row: 1 / span 4;
   }
   
   .grid-gallery img:nth-child(4) {
      grid-column: 1 / span 6;
      grid-row: 5 / span 4;
   }
   
   .grid-gallery img:nth-child(5) {
      grid-column: 7 / span 6;
      grid-row: 5 / span 4;
   }
   
   .grid-gallery img:nth-child(6) {
      grid-column: 4 / span 3;
      grid-row: 17 / span 6;
   }
   
   .grid-gallery img:nth-child(7) {
      grid-column: 1 / span 6;
      grid-row: 9 / span 4;
   }
   
   .grid-gallery img:nth-child(8) {
      grid-column: 7 / span 6;
      grid-row: 9 / span 4;
   }

   .grid-gallery img:nth-child(9) {
      grid-column: 7 / span 3;
      grid-row: 17 / span 6;
   }

   .grid-gallery img:nth-child(10) {
      grid-column: 10 / span 3;
      grid-row: 17 / span 6;
   }

   .grid-gallery img:nth-child(11) {
      grid-column: 1 / span 6;
      grid-row: 13 / span 4;
   }

   .grid-gallery img:nth-child(12) {
      grid-column: 7 / span 6;
      grid-row: 13 / span 4;
   }
}

.flex-box-form label {
   font-family: Inter, sans-serif;
   width: 100%;
   text-align: center;
   line-height: 20px;
   
}

.form-button {
   background-color: #A5A58D;
   width: 150px;
   height: 25px;
   cursor: pointer;
}

.flex-box-form input[type=text], input[type=email] {
   width: 100%;
   height: 25px;
}

@media only screen and (min-width: 768px) {
   .flex-box-form input[type=text], input[type=email] {
      width: 50%;
}