@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@300&family=Source+Code+Pro&display=swap');
* {
   margin: 0;
   padding: 0;
   border: none;
   cursor: default;
}

body {
   font-family: KoHo,sans-serif;
}

/*-------------------------------- Header---*/

.nav-bar {
   text-align: right;
   height: 70px;
   line-height: 70px;
   position: fixed;
   width: 100%;
   background-color: #EDDCD2;
}

.nav-bar img {
   float: left;
   height: 50px;
   width: 125px;
   margin: 10px 0 0 10px;
}

@media only screen and (min-width: 768px) {
   .nav-bar img {
      width: 150px;
   }
}

@media only screen and (min-width: 1200px) {
   .nav-bar img {
      cursor: pointer;
   }
}

.menu {
   margin: 0 30px 0 0;
}

.menu a {
   text-decoration: none;
   color: #CB997E;
   margin: 0 10px;
   line-height: 70px;
   clear: right;
   background-color: #EDDCD2;
}

@media only screen and (min-width: 1200px) {
   .menu a {
      cursor: pointer;
   }
}

.nav-bar label {
   margin: 0 40px 0 0;
   font-size: 25px;
   line-height: 70px;
   display: none;
   width: 26px;
   float: right;
}

#toggle {
   display: none;
}

@media only screen and (max-width: 768px) {
   .nav-bar label {
      display: block;
   }

   .menu {
      text-align: center;
      width: 100%;
      display: none;
   }

   .menu a {
      display: block;
      margin: 0;
   }

   #toggle:checked + .menu {
      display: block;
   }
}

/*-------------------------------- Hero Image---*/

.hero {
   background: url(../images/shutterstock_image\ \(1\).jpg) no-repeat center center;
   width: 100%;
   height: 350px;
   overflow: hidden;
   background-size: cover;
}

/*-------------------------------- Main Content Features---*/

.flex-container {
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
   width: 100%;
}

.flex-box {
   width: 80%;
   text-align: center;
   margin-left: 10%;
}

@media only screen and (min-width: 1024px) {
   .flex-box {
      width: 70%;
      text-align: center;
      margin-left: 15%;
   }
}

@media only screen and (min-width: 1366px) {
   .flex-box {
      width: 60%;
      text-align: center;
      margin-left: 20%;
   }
}

.flex-box h2 {
   letter-spacing: 2px;
   text-transform: uppercase;
   padding-top: 20px;
   clear: both;
}

.flex-box p {
   font-family: Inter, sans-serif;
   padding: 20px 20px 20px 20px;
}

.flex-box img {
   float: right;
   width: 10%;
   height: 10%;
   box-sizing: border-box;
   margin: 0 45%;
}

@media only screen and (min-width: 1024px) {
   .flex-box img {
      width: 5%;
      height: 5%;
      margin: 0 48%;
   }
}

@media only screen and (min-width: 1366px) {
   .flex-box img {
      width: 2%;
      height: 2%;
      margin: 0 49%;
   }
}
   
.button {
   background-color: #A5A58D;
   width: 150px;
   height: 25px;
}

@media only screen and (min-width: 1200px) {
   .button a {
      cursor: pointer;
   }
}

.button a {
   text-decoration: none;
   color: #F0EFEB;
   font-family: KoHo, sans-serif;
}

.content button {
   float: right;
   margin-right: 20px;
}

.flex-box-form {
   font-family: Inter, sans-serif;
   margin: 20px 50px;
   text-align: center;
   border: 1px solid #A5A58D;
   background-color: #EDDCD2;
   padding: 15px 50px;
   width: auto;
   height: 225px;
   margin-bottom: 25px;
}

.flex-box-form h3 {
   font-family: KoHo, sans-serif;
   padding: 5px 0 10px 0;
}

.flex-box-form p {
   padding-bottom: 15px;
}

.flex-container2 {
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
   padding-top: 7em;
}

.flex-box h3 {
   padding-top: 15px;
}

/*--------------------------------Iframes---*/

.iframe-container {
   width: 100%;
   height: 300px;
}

.iframe-container iframe {
   float: right;
   width: 100%;
   padding: 5% 5%;
   box-sizing: border-box;
   height: 100%;
}

@media only screen and (min-width: 768px) {
   .iframe-container {
      height: 700px;
   }
   .iframe-container iframe {
      padding: 5% 10%;
   }
}

@media only screen and (min-width: 1366px) {
   .iframe-container {
      height: 1200px;
   }
   .iframe-container iframe {
      padding: 5% 10%;
   }
}

/*-------------------------------- Events Games Grid---*/

.grid-container {
   display: grid;
   grid-template-rows: repeat(6, 7vw);
   grid-template-columns: repeat(12, 1fr);
   grid-gap: 10px;
   margin-top: 35px;
}

.grid-container img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   padding: 10px 15px 10px 15px;
}

.item1 {
   grid-column: 1 / span 6;
   grid-row: 1 / span 3;
}

.item2 {
   grid-column: 7 / span 5;
   grid-row: 1 / span 3;
}

.item3 {
   grid-column: 1 / span 6;
   grid-row: 4 / span 3;
}

.item4 {
   grid-column: 7 / span 5;
   grid-row: 4 / span 3;
}

@media only screen and (min-width: 1024px) {
   .grid-container {
      grid-template-rows: repeat(2, 7vw);
      grid-template-columns: repeat(16, 1fr);
      grid-gap: 30px;
   }

   .item1 {
      grid-column: 1 / span 4;
      grid-row: 1 / span 2;
   }
   
   .item2 {
      grid-column: 4 / span 4;
      grid-row: 1 / span 2;
   }
   
   .item3 {
      grid-column: 8 / span 4;
      grid-row: 1 / span 2;
   }
   
   .item4 {
      grid-column: 12 / span 4;
      grid-row: 1 / span 2;
   }
}

/*-------------------------------- Gallery Page Grid---*/

.grid-gallery {
   display: grid;
   grid-template-rows: repeat(57, 7vw);
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 1px;
   margin-top: 35px;
}

.grid-gallery img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   padding: 5px 5px 5px 5px;
   box-sizing: border-box;
}

.grid-gallery img:nth-child(1) {
   grid-column: 1 / span 4;
   grid-row: 1 / span 7;
}

.grid-gallery img:nth-child(2) {
   grid-column: 1 / span 4;
   grid-row: 8 / span 7;
}

.grid-gallery img:nth-child(3) {
   grid-column: 1 / span 4;
   grid-row: 15 / span 7;
}

.grid-gallery img:nth-child(4) {
   grid-column: 1 / span 4;
   grid-row: 22 / span 7;
}

.grid-gallery img:nth-child(5) {
   grid-column: 1 / span 4;
   grid-row: 29 / span 7;
}

.grid-gallery img:nth-child(6) {
   grid-column: 1 / span 4;
   grid-row: 36 / span 7;
}

.grid-gallery img:nth-child(7) {
   grid-column: 1 / span 4;
   grid-row: 43 / span 7;
}

.grid-gallery img:nth-child(8) {
   grid-column: 1 / span 4;
   grid-row: 50 / span 7;
}

.grid-gallery img:nth-child(9) {
   display: none;
}

.grid-gallery img:nth-child(10) {
   display: none;
}

.grid-gallery img:nth-child(11) {
   display: none;
}

.grid-gallery img:nth-child(12) {
   display: none;
}

@media only screen and (min-width: 800px) {
   .grid-gallery {
      grid-template-rows: repeat(31, 7vw);
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 5px;
   }

   .grid-gallery img:nth-child(1) {
      grid-column: 1 / span 8;
      grid-row: 1 / span 5;
   }
   
   .grid-gallery img:nth-child(2) {
      grid-column: 9 / span 4;
      grid-row: 1 / span 8;
   }
   
   .grid-gallery img:nth-child(3) {
      grid-column: 1 / span 8;
      grid-row: 6 / span 5;
   }
   
   .grid-gallery img:nth-child(4) {
      grid-column: 1 / span 8;
      grid-row: 11 / span 5;
   }
   
   .grid-gallery img:nth-child(5) {
      grid-column: 1 / span 8;
      grid-row: 16 / span 5;
   }
   
   .grid-gallery img:nth-child(6) {
      grid-column: 9 / span 4;
      grid-row: 9 / span 7;
   }
   
   .grid-gallery img:nth-child(7) {
      grid-column: 1 / span 8;
      grid-row: 21 / span 5;
   }
   
   .grid-gallery img:nth-child(8) {
      grid-column: 1 / span 8;
      grid-row: 26 / span 5;
   }

   .grid-gallery img:nth-child(9) {
      grid-column: 9 / span 4;
      grid-row: 16 / span 7;
      display: grid;
   }

   .grid-gallery img:nth-child(10) {
      grid-column: 9 / span 4;
      grid-row: 23 / span 8;
      display: grid;
   }

   .grid-gallery img:nth-child(11) {
      display: none;
   }

   .grid-gallery img:nth-child(12) {
      display: none;
   }
}

@media only screen and (min-width: 1366px) {
   .grid-gallery {
      grid-template-rows: repeat(18, 7vw);
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 5px;
   }

   .grid-gallery img:nth-child(1) {
      grid-column: 1 / span 6;
      grid-row: 1 / span 4;
   }
   
   .grid-gallery img:nth-child(2) {
      grid-column: 1 / span 3;
      grid-row: 13 / span 6;
   }
   
   .grid-gallery img:nth-child(3) {
      grid-column: 7 / span 6;
      grid-row: 1 / span 4;
   }
   
   .grid-gallery img:nth-child(4) {
      grid-column: 1 / span 6;
      grid-row: 5 / span 4;
   }
   
   .grid-gallery img:nth-child(5) {
      grid-column: 7 / span 6;
      grid-row: 5 / span 4;
   }
   
   .grid-gallery img:nth-child(6) {
      grid-column: 4 / span 3;
      grid-row: 13 / span 6;
   }
   
   .grid-gallery img:nth-child(7) {
      grid-column: 1 / span 6;
      grid-row: 9 / span 4;
   }
   
   .grid-gallery img:nth-child(8) {
      grid-column: 7 / span 6;
      grid-row: 9 / span 4;
   }

   .grid-gallery img:nth-child(9) {
      grid-column: 7 / span 3;
      grid-row: 13 / span 6;
   }

   .grid-gallery img:nth-child(10) {
      grid-column: 10 / span 3;
      grid-row: 13 / span 6;
   }

   .grid-gallery img:nth-child(11) {
      grid-column: 1 / span 6;
      grid-row: 13 / span 4;
   }

   .grid-gallery img:nth-child(12) {
      grid-column: 7 / span 6;
      grid-row: 13 / span 4;
   }
}
/*-------------------------------- Form Features---*/

.flex-box-form input[type=text], input[type=email] {
   width: 100%;
   height: 25px;
}

@media only screen and (min-width: 768px) {
   .flex-box-form input[type=text], input[type=email] {
      width: 50%;
   }
}

.flex-box-form2 {
   font-family: Inter, sans-serif;
   margin: 20px 50px;
   text-align: center;
   border: 1px solid #A5A58D;
   background-color: #EDDCD2;
   padding: 20px 50px;
   width: auto;
   height: 350px;
   margin-bottom: 25px;
}

.flex-box-form2 h3 {
   font-family: KoHo, sans-serif;
   padding: 20px 0 20px 0;
}

.flex-box-form2 p {
   padding-bottom: 20px;
}

.flex-box-form2 label {
   font-family: Inter, sans-serif;
   width: 100%;
   text-align: center;
   line-height: 20px; 
}

.form-button {
   background-color: #A5A58D;
   width: 150px;
   height: 25px;
}

@media only screen and (min-width: 1200px) {
   .form-button {
      cursor: pointer;
   }
}

.flex-box-form2 input[type=text], input[type=email] {
   width: 100%;
   height: 25px;
}

.flex-box-form2 textarea {
   height: 100px;
   width: 100%;
}

input[type=text]:focus {
   outline-color: #A5A58D;
}

input[type=email]:focus {
   outline-color: #A5A58D;
}

textarea:focus {
   outline-color: #A5A58D;
}

@media only screen and (min-width: 768px) {
   .flex-box-form2 input[type=text], input[type=email] {
      width: 50%;
   }
   .flex-box-form2 textarea {
      width: 50%;
   }
}

/*-------------------------------- Founder Section Grid---*/

.grid-container2 {
   display: grid;
   grid-template-rows: repeat(7, 7vw);
   grid-template-columns: repeat(12, 1fr);
   grid-gap: 20px;
   margin-top: 35px;
}

.grid-container2 img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.grid-item3 p {
   font-size: small;
}

.grid-item1 {
   grid-column: 1 / span 6;
   grid-row: 1 / span 2;
   text-align: center;
}

.grid-item2 {
   grid-column: 2 / span 4;
   grid-row: 2 / span 5;
}

.grid-item3 {
   grid-column: 6 / span 6;
   grid-row: 2 / span 3;
}

@media only screen and (min-width: 768px) {
   .grid-item3 p {
      font-size: 150%;
   }
}

@media only screen and (min-width: 1024px) {
   .grid-item3 p {
      font-size: 225%;
   }
}

/*-------------------------------- Footer---*/

footer {
   width: 100%;
}

.footer-container {
   width: 100%;
   background-color: #EDDCD2;
}

.social-links {
   text-align: center;
   padding: 5px;
}

.social-links  li {
   display: inline;
}

.social-links  i {
   color: #fff;
   font-size: 150%;
   margin-top: 20px;
   padding: 0 5%;
}

.social-links:hover {
   color: #ee9061;
}

footer p {
   text-align: center;
   font-size: 75%;
   padding: 0;
   margin: 0 auto;
}